* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  }
  header {
  background: linear-gradient(135deg, #0f0f0f, #1a1a2e);
}